<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.impactioproselyteconsulting">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ImpactioProselyteConsulting">
        <activity
            android:name=".DatabaseEditProfile"
            android:exported="false" />
        <activity
            android:name=".SolutionsInProgressActivity"
            android:exported="false" />
        <activity
            android:name=".SolutionsToDoActivity"
            android:exported="false" />
        <activity
            android:name=".SolutionsCompletedActivity"
            android:exported="false" />
        <activity
            android:name=".ProfilePreferredTagsActivity"
            android:exported="false" />
        <activity
            android:name=".ProfileAreaOfExpertiseActivity"
            android:exported="false" />
        <activity
            android:name=".ProfileBiographyActivity"
            android:exported="false" />
        <activity android:name=".DiscoverChallengeActivity" />
        <activity
            android:name=".ChallengeDetailActivity"
            android:exported="false" />
        <activity
            android:name=".SolutionDetailActivity"
            android:exported="false" />
        <activity
            android:name=".DiscoverSolutionActivity"
            android:exported="false" />
        <activity
            android:name=".ProfileActivity"
            android:exported="false" />
        <activity android:name=".ProfileEditActivity" />
        <activity
            android:name=".MainActivity"
            android:exported="false"></activity>
        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".RegisterActivity"></activity>
    </application>

</manifest>